
<div class="container">
    <div class="row">

        <div class="card" style="width: 18rem;">
            <img src="https://cdn.culturagenial.com/es/imagenes/game-of-thrones-serie-og.jpg" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">Game of Thrones</h5>
            <p class="card-text">Descripción</p>
            <a class="btn btn-primary" [routerLink]="['/gameofthrones']">Leer más</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Harry_Potter_wordmark.svg" class="card-img-top py-4">
            <div class="card-body">
            <h5 class="card-title">Harry Potter</h5>
            <p class="card-text">Descripción</p>
            <a class="btn btn-primary" [routerLink]="['/harrypotter']">Leer más</a>
            </div>
        </div>
        
    </div>
</div>